.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-group-1 {
  width: 1000px;
  min-height: 619px;
  height: auto;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 200px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 54px;
  height: 54px;
  animation-timing-function: ease;
  margin: 18px auto 0 0;
  padding: 5px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -45px 606px 0 64px;
}

.u-section-1 .u-line-1 {
  width: 972px;
  transform-origin: left center 0px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Arbutus;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 18px 12px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 18px 554px 0 0;
}

.u-section-1 .u-text-5 {
  font-family: Arbutus;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-size: 1.25rem;
  margin: 18px 12px 0 0;
}

.u-section-1 .u-text-7 {
  font-family: Arbutus;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-8 {
  background-image: none;
  font-size: 1.25rem;
  margin: 15px 504px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2783px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 289px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 289px;
    margin-left: 322px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 494px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: 496px;
    margin-right: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 202px;
  }

  .u-section-1 .u-text-1 {
    width: 329px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 274px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 224px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 144px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 94px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: 340px;
    margin-right: 0;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 757px;
}

.u-section-2 .u-group-1 {
  width: 1000px;
  min-height: 757px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-family: Arbutus;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px auto 0 0;
}

.u-section-2 .u-text-2 {
  background-image: none;
  line-height: 1;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 21px 286px 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Arbutus;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 21px 205px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 21px 500px 0 0;
}

.u-section-2 .u-text-5 {
  background-image: none;
  font-size: 1.25rem;
  margin: 21px 12px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 182px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: 12px 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 226px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 174px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 68px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 184px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 68px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 220px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 687px;
}

.u-section-3 .u-group-1 {
  width: 1000px;
  min-height: 687px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 24px 12px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 8px 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 604px;
}

.u-section-4 .u-group-1 {
  width: 1000px;
  min-height: 604px;
  height: auto;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 6px 72px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 9px 12px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 9px 161px 0 0;
}

.u-section-4 .u-text-4 {
  background-image: none;
  font-size: 1.25rem;
  margin: 9px 35px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-4 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 101px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 530px;
}

.u-section-5 .u-group-1 {
  width: 1000px;
  min-height: 530px;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 18px 35px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px 35px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 18px 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 770px;
}

.u-section-6 .u-group-1 {
  width: 1000px;
  min-height: 770px;
  height: auto;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px 35px 0 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-right: 12px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-right: 35px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
  margin-right: 12px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-6 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 501px;
}

.u-section-7 .u-group-1 {
  width: 1000px;
  min-height: 502px;
  height: auto;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px 625px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-7 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 565px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 505px;
}

.u-section-8 .u-group-1 {
  width: 1000px;
  min-height: 505px;
  height: auto;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 17px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 570px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 17px 12px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 12px 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 17px auto 0 0;
}

.u-section-8 .u-text-7 {
  font-size: 1.25rem;
  margin: 17px 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-8 .u-text-2 {
    margin-right: 510px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 549px;
}

.u-section-9 .u-group-1 {
  width: 1000px;
  min-height: 393px;
  height: auto;
  margin: 0 auto 60px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 14px auto 0 0;
}

.u-section-9 .u-line-1 {
  margin-top: 13px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-9 .u-text-3 {
  margin: 24px auto 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-9 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }
}