.u-section-1 .u-sheet-1 {
  min-height: 3205px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 2672px;
  height: auto;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 43px auto 60px 168px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-family: Arbutus;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 432px 0 30px;
}

.u-section-1 .u-line-1 {
  width: 764px;
  transform-origin: left center 0px;
  margin: 6px 14px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Arbutus;
  margin: 9px auto 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-4 {
  font-family: Arbutus;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-5 {
  font-family: Arbutus;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-6 {
  background-image: none;
  margin: 20px 14px 0 30px;
}

.u-section-1 .u-text-7 {
  font-family: Arbutus;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-8 {
  background-image: none;
  margin: 20px 266px 0 30px;
}

.u-section-1 .u-text-9 {
  font-family: Arbutus;
  margin: 16px auto 0 30px;
}

.u-section-1 .u-text-10 {
  background-image: none;
  line-height: 1;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 21px auto 0 30px;
}

.u-section-1 .u-text-11 {
  font-family: Arbutus;
  margin: 7px 400px 0 30px;
}

.u-section-1 .u-text-12 {
  margin: 16px 274px 0 22px;
}

.u-section-1 .u-text-13 {
  background-image: none;
  margin: 13px 14px 0 30px;
}

.u-section-1 .u-text-14 {
  margin: 20px 274px 0 22px;
}

.u-section-1 .u-text-15 {
  margin: 18px 6px 0 22px;
}

.u-section-1 .u-text-16 {
  margin-left: 22px;
  margin-right: 6px;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  margin-left: 22px;
  margin-right: 6px;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  margin: 9px 9px 0 19px;
}

.u-section-1 .u-text-19 {
  margin: 11px 6px 0 22px;
}

.u-section-1 .u-text-20 {
  margin: 18px 276px 0 20px;
}

.u-section-1 .u-text-21 {
  background-image: none;
  margin: 22px 22px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 140px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 186px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 320px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 172px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 216px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 202px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 140px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 2px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}