 .u-section-1 {
  min-height: 318px;
}

.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-text-1 {
  font-family: Arbutus;
  font-weight: 700;
  margin: 55px auto 0 10px;
}

.u-section-1 .u-line-1 {
  margin-top: -3px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 187px auto 0 271px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -36px 314px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 16px auto 0 271px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -34px 195px 60px 653px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 259px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 95px;
    margin-left: 553px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 198px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 156px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 149px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 156px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 179px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -10px;
    margin-right: 94px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -183px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 180px;
    margin-left: 48px;
  }
}